@import "tailwindcss";

:root {
  --background: #f2f2f2;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  /* Harus sama persis */
  font-family: var(--font-jetbrains_Mono), monospace; 
}